body{
    background: #1B1861;
    text-decoration-color: #002D38;
}
.pincss
{
    background-color: #BF9FBA    ;
    border:2px SOLID black;
    border-radius: 30px;
    display: grid;
    place-items:  center;
    margin-left: 400px;
    margin-right: 400px;
    box-shadow: 10px 10px 15px rgba(2,2,2,4);

}
#a{
 background-color: #262626;
 box-shadow: 10px 10px 10px rgba(2,2,2,4);
 border-radius: 30px;
}
table, th, td {
    border:1px solid black;
    background-color: whitesmoke;
    
}

table, th{
    background-color: pink;
}
#addi{
    border-radius: 75px;
    height: 55px;
    width: 100px;
    background-color: #D95F5F;
}
#addi img{
 width: 40px;
}
h3{
    font-family: "Papyrus";
}